<div class="row coverAll">
  <div class="col-md-12 coverAll">
  <div class="col-md-6  col-sm-6 col-xs-6 animated fadeInLeft msjInicio">
    <h1>Agendá a<br>tus clientes</h1>
    <p>
      Ingresa tus contactos y tenelos a tu alcance cuando los necesites.
    </p>

            <a ng-href="#/clientes"><button type="button" class="btn btn-success  btn-lg ">Comenzar</button></a>
  </div>
  <div class="col-md-6  col-sm-6  col-xs-6 animated fadeInUp imgInicio">
  <img src="images/agenda.svg" class="img-responsive"> 
  </div> 
  </div>
</div>
